@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

main {
    height: 100vh;
    display: grid;
    place-items: center;
    .container {
        display: flex;
        flex-direction: column;
        width: 327px;
        background-color: #FFFFFF;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
        border-radius: 23px;
        @include m.media-up(dt) {
            width: 920px;
            background-image: url('images/bg-pattern-desktop.svg');
            background-position: -577px -294px;
            background-repeat: no-repeat;
        }
        .illustration-container {
            position: relative;
            .illustration {
                background-image: url('images/illustration-woman-online-mobile.svg');
                position: absolute;
                width: 266px;
                height: 196px;
                left: 15px;
                top: -108px;
                @include m.media-up(dt) {
                    display: none;
                }
            }
            .illustration-shadow {
                background-image: url('images/bg-pattern-mobile.svg');
                position: absolute;
                width: 240px;
                height: 104px;
                left: 42px;
                top: 2px;
                @include m.media-up(dt) {
                    display: none;
                }
            }
            .illustration-shadow-desktop {
                display: none;
            }
            .illustration-desktop {
                display: none;
                @include m.media-up(dt) {
                    position: absolute;
                    top: 72px;
                    left: -84px;
                    display: block;
                    width: 472px;
                    height: 359px;
                    clip-path: inset(0 0 0 17.8%);
                }
            }
            .illustration-box-desktop {
                display: none;
                width: 191px;
                height: 184px;
                @include m.media-up(dt) {
                    top: 208px;
                    left: -94px;
                    position: absolute;
                    display: block;
                    background-image: url('images/illustration-box-desktop.svg');
                }
            }
        }
        h1 {
            width: 100%;
            align-self: center;
            text-align: center;            
            margin-top: 137px;
            
            font-size: 32px;
            font-weight: 700;
            line-height: 32.19px;
            @include m.media-up(dt) {
                width: 350px;
                margin-top: 65px;
                margin-right: 95px;
                align-self: flex-end;
                text-align: start;
            }
        }
        .accordion {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 48px;
            @include m.media-up(dt) {
                width: 350px;
                margin-top: 43px;
                margin-right: 95px;
                margin-bottom: 83px;
                align-self: flex-end;
            }
            .accordion-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 279px;
                height: auto;
                border-bottom: 1px solid v.$light-grayish-blue;
                overflow: hidden;
                @include m.media-up(dt) {
                    width: 350px;
                }
                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }
                .accordion-link {
                    display: flex;
                    padding: 19px 0;
                    justify-content: space-between;
                    font-size: 13px;
                    line-height: 13.08px;
                    color: v.$very-dark-grayish-blue;
                    cursor: pointer;
                    &:hover {
                        color: v.$orange;
                    }
                    &::after {
                        content: url('images/icon-arrow-down.svg');
                        transition: all .35s;
                    }
                    @include m.media-up(dt) {
                        font-size: 14px;
                        line-height: 14.08px;
                    }
                }
                .answer {
                    max-height: 0;
                    font-size: 12px;
                    line-height: 18px;
                    color: v.$dark-grayish-blue;
                    transition: all .35s;
                }
            }
        }
    }
}

input:checked {
    + .accordion-link {
        font-weight: 700;
        &::after {
            transform: rotate(180deg);
        }
    }
    ~ .answer {
        padding-bottom: 60px;
    }
}

